body {
    background: #f5f5f5;
}
.login_box {
    width: 580px;
    max-width: 580px;
    min-width: 480px;
    margin-top: 10%;
    padding:0;
    background:#fff;
    border-radius:8px;
}
.login_head {
    width: 100%;
    background: #00acec;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.login_head h3 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin: 0;
    padding:40px 0;
}

