<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>网进科技信息化管理系统</title>
    <!--网站图标引入-->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!--网站图标引入结束-->
    <!--CSS文件引入-->
    <link href="../Resources/css/plugins/bootstrap.min.css" rel="stylesheet" />
    <link href="../Resources/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../Resources/css/custom/c/style.css" rel="stylesheet" />
    <link href="../Resources/css/custom/y/main.css" rel="stylesheet" />
    <!--CSS文件引入结束-->
</head>
<body>
    <div id="header" class="header"></div>
    <div id="menu" class="left_menu"></div>
    <div id="content" class="main_content_normal">
        <div>dadasdasda</div>
    </div>




    <!--<div id="footer" class="footer"></div>-->
    <script src="../Resources/js/plugins/jquery.min.js"></script>
    <script src="../Resources/js/plugins/bootstrap.min.js"></script>
    <script src="../Resources/js/custom/c/common.js"></script>
</body>
</html>